.arrivals {
    display: flex;
    background-color: $pink-bkg;
    min-height: 148px;

    .arrivals__wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .arrivals__title {
        @include font(24px, 29px);
        text-transform: uppercase;
        color: $pink-color;
    }

    .arrivals__subtitle,
    a {
        @include font(14px, 17px, 300);
        text-transform: uppercase;
        color: $grey-color;
        text-decoration: none;
    }

    .arrivals__item {
        @include font(14px, 17px, 700);
        color: $pink-color;
    }
}