.main-section__brand {
    display: flex;

    .main-section-brand__img {
        background-color: rgba(113, 103, 105, 0.08);
    }

    .brand-title__wrp {
        flex-grow: 1;
        background-color: $pink-bkg;
        display: flex;
        align-items: center;
        padding: 0 0 0 92px;
    }

    .main-section-brand__title {
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-transform: uppercase;
        position: relative;
    }

    .main-section-brand__title:before {
        content: '';
        width: 12px;
        height: 92px;
        background: $pink-color;
        position: absolute;
        left: -30px;
        bottom: 0px;

    }

    .brand__subtitle {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        display: block;
    }

    .brand__subtitle-link {
        color: $pink-color;
    }
}