.filter {
    padding: 51px 0 64px;
    display: flex;

    .filter__dropdown-main {
        position: relative;
        display: inline-block;
        margin: 0 0 0 15px;
    }

    .filter__dropbtn-main {
        border: none;
        background: transparent;
        padding: 0;
        @include font(14px, 17px, 600);
        color: #000000;
        text-transform: uppercase;
    }

    .filter__dropbtn-icon-main {
        padding: 0 0 0 11px;
    }

    .filter__dropdown-content-main {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .filter__dropdown-main:hover .filter__dropdown-content-main {
        display: block;
    }

    .filter__dropdowns-wrp {
        display: flex;
        gap: 28px;
        padding: 0 0 0 304px;
    }

    .filter__dropdown {
        position: relative;
        display: inline-block;
    }

    .filter__dropbtn {
        border: none;
        background: transparent;
        padding: 0;
        @include font(14px, 17px);
        color: #6F6E6E;
        text-transform: uppercase;
    }

    .filter__dropbtn-icon {
        fill: #6F6E6E;
        padding: 0 0 0 10px;
    }

    .filter__dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .filter__dropdown:hover .filter__dropdown-content {
        display: block;
    }
}