.main-section__sales {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;

    .main-sales__item {
        width: 368px;
        min-height: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        flex-direction: column;
    }

    .main-section-sales__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
    }

    .main-sales-list__women {
        background: url(../img/women-sales.jpg);
    }

    .main-sales-list__men {
        background: url(../img/men-sales.jpg);
    }

    .main-sales-list__kids {
        background: url(../img/kids-sales.jpg);
    }

    .main-sales-list__trend {
        background: url(../img/trend-sales.jpg);
        width: 100%;
        min-height: 180px;
        margin-top: 30px;
    }

    .main-sales-item__title {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        color: #FFFFFF;
        margin: 0;
        text-transform: uppercase;
    }

    .main-sales-item__text {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        color: rgb(241, 109, 127);
        margin: 0;
        text-transform: uppercase;
    }
}