.d-block {
    @include phone {
        height: 624px;
        object-fit: cover;
    }
}

.fas-slider {
    position: absolute;
    left: 1%;
    background-color: rgba(42, 42, 42, 0.15);
    color: #000;
    font-size: 47px;
    width: 47px;
}

.fas-slider__next {
    color: $pink-color;
    left: 82%;

    @include tablet {
        left: 60%;
    }

    @include phone {
        left: 20%;
    }
}